* {
  margin: 0;
  padding: 0;
}

#toggler {
  left: 2rem;
  top: 2rem;
  position: absolute;
  z-index: 2;
  min-width: 16rem;
}
#toggler::after {
  content: "Toggle to night Time";
}

#toggler:checked:after {
  content: "Toggle to day Time";
  color: white;
}

#toggler + .day {
  --day-primary: #36d6ed;
  --day-secondary: #65ddef;
  --day-tertiary: #c9f6ff;

  --night-primary: #38285c;
  --night-secondary: #666569;
  --night-tertiary: #0c1445;

  --sun-primary: #fc9603;
  --sun-secondary: #ffcc33;
  --sun-tertiary: #ffe484;

  --greenary-primary: #9dff89;
  --greenary-secondary: #7ef583;
  --greenary-tertiary: #097828;
}

#toggler:checked + #sky {
  background-position: right;
}

#toggler:checked + .day > #sun {
  transform: translateY(100vh);
}

#toggler:checked + .day > #stars {
  display: initial;
}

#toggler:checked + .day > #moon {
  transform: translateY(0);
}

#sky {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  background-image: linear-gradient(
    45deg,
    var(--day-primary),
    var(--day-tertiary),
    var(--night-primary),
    var(--night-tertiary)
  );
  background-size: 400%;
  background-position: left;
  transition: background-position 1000ms ease-in;
}

#moon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 20px;
  right: 20%;
  transform: translateY(-100vh);
  transition: transform 1000ms ease-in-out;
}

#sun {
  background: linear-gradient(
    to top right,
    var(--sun-primary),
    var(--sun-secondary)
  );
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20%;
  box-shadow: 0px 0px 5px 5px var(--sun-tertiary);
  animation: sun 2s linear infinite alternate-reverse;
  transition: transform 1000ms ease-in-out;
}

#stars {
  display: none;
}

#star {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  animation: star linear infinite alternate-reverse;
}

.cloud {
  height: 120px;
  width: 200px;
  position: absolute;
}

#cloud1 {
  top: 5%;
  left: -30%;
  animation: cloud 40s linear infinite alternate;
}

#cloud2 {
  top: 20%;
  left: -10%;
  animation: cloud 30s linear infinite normal;
}

#hill {
  bottom: -3%;
  position: absolute;
  fill: green;
  height: 60%;
  width: 110%;
  left: -5%;
  fill: linear-gradient(
    to bottom right,
    var(--greenary-primary),
    var(--greenary-tertiary),
    var(--greenary-tertiary)
  );
}

.winds {
  position: absolute;
  top: 20%;
  animation: cloud 50s linear infinite normal;
}

#winds1 {
  top: 40%;
  animation: cloud 70s linear infinite normal;
}

.wind {
  height: 4px;
  width: 20px;
  background-color: white;
  margin-top: 10px;
  border-radius: 6px;
}

#wind1 {
  width: 30px;
  margin-left: 8px;
}

#wind2 {
  width: 80px;
}

#wind3 {
  width: 60px;
  margin-left: 12px;
}

@keyframes star {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes sun {
  from {
    box-shadow: 0px 0px 5px 5px var(--sun-tertiary);
  }
  to {
    box-shadow: 0px 0px 5px 8px var(--sun-tertiary);
  }
}

@keyframes cloud {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100vw + 100%));
  }
}
